.container {
  display: flex;
  justify-content: center;
}
.container-input {
  display: flex;
  width: fit-content;
  justify-content: left;
  flex-direction: column;
}
.none-active-error {
  display: none;
}
.active-error {
  display: block;
  color: red;
}

.display {
  position: relative;
  &__segment {
    height: 125px;
    width: 15px;
    background-color: grey;
    border-radius: 9999px;
  }
}

.A {
  position: absolute;
  top: -45px;
  left: 90px;
  transform: rotate(90deg);
}
.B {
  position: absolute;
  top: 20px;
  left: 160px;
}
.C {
  position: absolute;
  top: 150px;
  left: 160px;
}
.D {
  position: absolute;
  top: 215px;
  left: 90px;
  transform: rotate(90deg);
}
.E {
  position: absolute;
  top: 150px;
  left: 20px;
}
.F {
  position: absolute;
  top: 20px;
  left: 20px;
}
.G {
  position: absolute;
  top: 85px;
  left: 90px;
  transform: rotate(90deg);
}

.red {
  background-color: red;
}
